body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
   
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 20px;
}
.red{
    background-color: rgb(216, 124, 124);
}
.yellow{
    background-color: rgb(207, 207, 120);
}
.green{
    background-color: rgb(133, 179, 133);
}
.purple{
    background-color: rgb(98, 98, 122);
}
.gameflash{
    background-color: white;
}
.userflash{
    background-color: green;
}